
<ion-view ng-controller="testController">
 <ion-content padding="true">
 <ion-item ng-click="onDrag()" class="item-thumbnail-left thumb-nail-header" style="border:none !important">
                <img class="icon-image" icon-image src="http://icons.iconarchive.com/icons/iconshock/cms/128/user-icon.png">
                <h2>Ashwini R</h2>
</ion-item>

 <div class="bar bar-loading " ng-if="data.isLoading">
      <p style="padding-left:15px"> Reporting to Vinod Kumar </p>
      <p style="padding-left:15px"> Team : JS CORE </p>
      <p style="padding-left:15px">Software Engineer</p>
</div>

        <ion-list>
            <ion-item class="item-thumbnail-left" >
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSO6hvcdOEakRhRNZ5MR8PBhhq2uf7HGYTJGL-AxFl-3IilAlfMng3_Zw">
                <h2>Vinod Kumar</h2>
                <h3>"Great Contribution"</h3>
                 <p class="description">You have amazingly contributed towards Unification project. Appreciative work.. You have amazingly contributed towards Unification project. Appreciative work You have amazingly contributed towards Unification project. Appreciative work You have amazingly contributed towards Unification project. Appreciative work.. You have amazingly contributed towards Unification project. Appreciative work You have amazingly contributed towards Unification project. Appreciative workYou have amazingly contributed towards Unification project. Appreciative work.. You have amazingly contributed towards Unification project. Appreciative work You have amazingly contributed towards Unification project. Appreciative work:):)
               </p>
            </ion-item>
        </ion-list>
        <ion-list></ion-list>
         <ion-scroll direction="x" class="wide-as-needed" >
        <img style="width:32px;height:32px" src="http://ionicframework.com/img/homepage/phones-weather-demo@2x.png"></img>
       <img style="width:32px;height:32px" src="http://ionicframework.com/img/homepage/phones-weather-demo@2x.png"></img>
     <img style="width:32px;height:32px" src="http://ionicframework.com/img/homepage/phones-weather-demo@2x.png"></img>
   <img style="width:32px;height:32px" src="http://ionicframework.com/img/homepage/phones-weather-demo@2x.png"></img>
 
<img style="width:32px;height:32px" src="http://ionicframework.com/img/homepage/phones-weather-demo@2x.png"></img>
 <img style="width:32px;height:32px" src="http://ionicframework.com/img/homepage/phones-weather-demo@2x.png"></img>
 <img style="width:32px;height:32px" src="http://ionicframework.com/img/homepage/phones-weather-demo@2x.png"></img>
<img style="width:32px;height:32px" src="http://ionicframework.com/img/homepage/phones-weather-demo@2x.png"></img>
 <img style="width:32px;height:32px" src="http://ionicframework.com/img/homepage/phones-weather-demo@2x.png"></img>
 <img style="width:32px;height:32px" src="http://ionicframework.com/img/homepage/phones-weather-demo@2x.png"></img>
<img style="width:32px;height:32px" src="http://ionicframework.com/img/homepage/phones-weather-demo@2x.png"></img>
 <img style="width:32px;height:32px" src="http://ionicframework.com/img/homepage/phones-weather-demo@2x.png"></img>
 <img style="width:32px;height:32px" src="http://ionicframework.com/img/homepage/phones-weather-demo@2x.png"></img>
 <img style="width:32px;height:32px" src="http://ionicframework.com/img/homepage/phones-weather-demo@2x.png"></img>
 <img style="width:32px;height:32px" src="http://ionicframework.com/img/homepage/phones-weather-demo@2x.png"></img>
 <img style="width:32px;height:32px" src="http://ionicframework.com/img/homepage/phones-weather-demo@2x.png"></img>
      
        
        
      </ion-scroll>
        <div class="button-bar">
            <button class="button button-stable button-block" style="border-color: #b2b2b2;border:1px solid">Like</button>
            <input type="text" class="button button-stable button-block" style="border-color: #b2b2b2;border:1px solid" placeholder="Comment Here!!!!!!!!"> </input>
        </div>
        <ion-list>
            <ion-checkbox>Congratulations</ion-checkbox>
            <ion-checkbox>Great Job!!!!</ion-checkbox>
        </ion-list>
    </ion-content>

     <div class="fixed-outside">
      <div class="row">
            <div class="col">
                <button class="button button-circle button-energized icon ion-log-in"></button>
            </div>
            <div class="col">
                <button class="button button-circle button-positive icon ion-social-facebook"></button>
            </div>
        </div>

       </div>
    </div>
</ion-view>